# Convert two lists into a dictionary

In [2]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict1 = dict(zip(keys,values)) 
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Merge two Python dictionaries into one

In [9]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1,**dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Print the value of key ‘history’ from the below dict

In [69]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])
# for k,v in sampleDict.items():
#     for k1, v1 in v.items():
# #         print(v1)
#         for k2,v2 in v1.items():
#             for keys,values in v2:
#                 if values == 80:
#                     print(keys[values])
                
                
# #             print(v2)
# #     if k  == 'history':
# #         print(v.values())

80

# Initialize dictionary with default values

In [77]:
from collections import defaultdict
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dictObj = {key: defaults for key in employees}
print(dictObj)
# result = dict.from_keys(employees,defaults)
# print(result)

# print('\nKelly :',result['Kelly'])
# print('\nEmma :',result['Emma'])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

# Rename key of a dictionary

# Write a program to rename a key city to a location in the following dictionary.

In [82]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict["location"]= sample_dict["city"]
del sample_dict["city"]
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

# Get the key of a minimum value from the following dictionary

In [100]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
for k,v in sample_dict.items():
    if v < 65 or v ==  65    :
        print(k)
# print(min(sample_dict,key = sample_dict.get))

Math
Math

# Change value of a key in a nested dictionary

# Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [106]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Write a program to check whether a given key exists in a dictionary or not.

In [110]:
dict = {'0':1, '1':2, '2':3}
x = input("Enter the number:")
if x in dict.keys():
    print(True)
else:
    print(False)

Enter the number:2
True

# Write a program to iterate over dictionary items using for loop.

In [118]:
dict = {0:"Value 1", 1:"Value 2"}
for y,z in dict.items():
    print(f'the  value of key {y}  is value {z} ')

the  value of key 0  is value Value 1
the  value of key 1  is value Value 2

# Write a program to print only keys of a dictionary.

In [2]:
dict = {0:"Value 1", 1:"Value 2", 2:"Value 3"}
for k in dict.keys():
    print(k)

0
1
2

# Write a program to print values of dictionary.

In [3]:
dict = {0:"Value 1", 1:"Value 2", 2:"Value 3"}
for v in dict.values():
    print(v)

Value 1
Value 2
Value 3

# Write a program in python to map 2 lists into a dictionary.

In [23]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = {k: v for k, v in zip(keys, values)}
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

# Python program to remove a set of keys.

In [33]:
d = {0:"Value 1", 1:"Value 2", 2:"Value 3"}
del d[0]
del d[1]

# keys_to_remove = [0,1]

# dict = { k: dict[k] for k in dict.keys() - keys_to_remove }
# print(dict)
d

{2: 'Value 3'}

# Python program to sort dictionary by values (Ascending/ Descending).

In [43]:
d = {'key 1': 2, 'key 2': 3, 'key 3': 4}
a = sorted(d.items(), key = lambda x: x[-1],reverse=True)
a

[('key 3', 4), ('key 2', 3), ('key 1', 2)]

# Write a program to concatenate two dictionaries to create one.

In [52]:
dict1 = {'key 1': 2, 'key 2': 3}
dict2 = {'key 3': 4, 'key 4': 5}
# dict1.update(dict2)-Update method
# # print(dict1)
# dict3 = dict1|dict2 -Merge Method
# dict3
dict4 = {**dict1,**dict2}# ** Operator method
print(dict4)

{'key 1': 2, 'key 2': 3, 'key 3': 4, 'key 4': 5}

# Write a program to sum all the values of a dictionary.

In [7]:
dict1 = {'key 1': 200, 'key 2': 300}
sum(dict1.values())

500

# Write a program to get the maximum and minimum value of dictionary.

In [12]:
dict1 = {'key 1': 200, 'key 2': 300}
print(max(dict1.values()))
print(min(dict1.values()))

300
200

# Write a program to check if a dictionary is empty or not.

In [13]:
dict2 = {'key 1': 200, 'key 2': 300}
if dict2 == {}:
    print(True)
else: 
    print(False)

False

# Write a program in Python to choose a random item from a dictionary.

In [17]:
import random
dict3 = {'key 1': 22, 'key 2': 301}
random.choice(list(dict3.values()))

301

# Write a program to sort dictionary values in python.

In [22]:
dict1 = {
'key 1': 'Apple', 'key 2':'Mango',
'key 3':'Papaya'
}
a= sorted(dict1.items(),key=lambda x: x[1])
for i in a:
    print(i[0] ,":", i[1])

key 1 : Apple
key 2 : Mango
key 3 : Papaya

# Write a program to check whether a key exists in the dictionary or not.

In [23]:
dict1 = {'key 1': 22, 'key 2': 301}
if "key 1" in dict1.keys():
    print('yes')
else:
    prnt('no')

yes

# Write a program in python to map keys to dictionary.

In [25]:
key = ['Fruit', 'Vegetable'] 
value = ['Mango','Tomato']
dicti = {k: v for k, v in zip(key, value)}
print(dicti)

{'Fruit': 'Mango', 'Vegetable': 'Tomato'}

# Write a program in Python to remove repetitive items from a list.

In [29]:
num = [2,3,4,5,2,6,3,2]
d = (list(set(num)))
d

[2, 3, 4, 5, 6]